<div class="container"  >
    <div class="row logo-hide1">
        <div class="col-md-12 col-xs-12 mymenu" role="navigation" style="padding-left:0px; padding-right:0px;">
            <nav class="navbar navbar-default " >
                <!--end of menu icon-->
                    <div class="collapse navbar-collapse" id="menu2" style="text-align:left">
                        <ul class="nav navbar-nav ">
                            <li class="dropdown ">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="false">Education</a>
                                    <ul class="dropdown-menu " >
                                        <li ><a href="#" >Tuition Services for Primary, Secondary & JC</a></li>
                                        <li><a href="#">Enrichment classes for children</a></li>
                                        <li><a href="#">Pre School education</a></li>
                                        <li><a href="#">Special needs education for children</a></li>
                                        <li><a href="#">Child Care Center/ Child minding</a></li>
                                    </ul>
                            </li>
                            <li class="dropdown ">
                                <a href="index.php?page=ServiceDetails" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="false">Automotive Repair</a>
                                <ul class="dropdown-menu ">
                                        <li><a href="#">Car Services & Repair</a></li>
                                        <li><a href="#">Motor Cycle Services & Repair</a></li>
                                        <li><a href="#">E-Scooter & E-bicycle Services & Repairs</a></li>
                                        <li><a href="#">Bicycle Repairs</a></li>
                                        <li><a href="#">Heavy vehicles Services & Repair</a></li>
                                </ul>
                            </li>
                            <li class="dropdown ">
                                <a href="index.php?page=comparision" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="false">Information Technology</a>
                                <ul class="dropdown-menu ">
                                        <li><a href="#">Computer Repair (Laptop & Desktop)</a></li>
                                        <li><a href="#">Smart Phone & Tablet repair and services</a></li>
                                        <li><a href="#">Printer/ Scanner/ Camera services & repair</a></li>
                                        <li><a href="#">Software/ Apps Development Services</a></li>
                                        <li><a href="#">Networking & Internetworking Services</a></li>
                                </ul>
                            </li>
                            <li class="dropdown ">
                                <a href="" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="false">Personal care</a>
                                <ul class="dropdown-menu ">
                                        <li><a href="#">SPA & Massage</a></li>
                                        <li><a href="#">Pedicure & Manicure Services</a></li>
                                        <li><a href="#">Hair dressing Services</a></li>
                                        <li><a href="#">Beauty & Slimming Services</a></li>
                                        <li><a href="#">Personal Trainer</a></li>
                                </ul>
                            </li>
                            <li class="dropdown ">
                                <a href="" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="false">Home Renovation</a>
                                <ul class="dropdown-menu ">
                                        <li><a href="#">Carpentry work</a></li>
                                        <li><a href="#">Change of  room Doors, Gates, Windows and Grills</a></li>
                                        <li><a href="#">Cement & Tiling work</a></li>
                                        <li><a href="#">Painting Services</a></li>
                                        <li><a href="#">Plumbing & Piping work</a></li>
                                </ul>
                            </li>
                            <li class="dropdown ">
                                <a href="" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="false">Medical</a>
                                <ul class="dropdown-menu ">
                                        <li><a href="#">Ambulance</a></li>
                                        <li><a href="#">Chiropractic</a></li>
                                        <li><a href="#">Medical & Dental Clinical Services</a></li>
                                        <li><a href="#">Traditional Chinese Medicine Services</a></li>
                                        <li><a href="#">Medical Care& Clinical services & escort</a></li>
                                </ul>
                            </li>
                            <li class="dropdown ">
                                <a href="" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="false" >Rental</a>
                                <ul class="dropdown-menu ">
                                        <li><a href="#">Automotive – Car, truck, Van and etc</a></li>
                                        <li><a href="#">House or Rooms</a></li>
                                        <li><a href="#">Heavy Transportation  & Equipment</a></li>
                                        <li><a href="#">Service or Virtual Office</a></li>
                                        <li><a href="#">Music room</a></li>
                                </ul>
                            </li>
                            <li class="dropdown ">
                                <a href="" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="false">Soft skill training</a>
                                <ul class="dropdown-menu ">
                                        <li><a href="#">Technical skill training services</a></li>
                                        <li><a href="#">Language skill training services</a></li>
                                        <li><a href="#">After child birth confinement care services</a></li>
                                        <li><a href="#">Locker Services to unlock doors or security safe</a></li>
                                        <li><a href="#">Food  & Beverage Catering Services</a></li>
                                </ul>
                            </li>
                            <li class="dropdown ">
                                <a href="" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="false">Watch & Jewelry</a>
                                <ul class="dropdown-menu ">
                                        <li><a href="#">Legal Services</a></li>
                                        <li><a href="#">Moving Services</a></li>
                                        <li><a href="#">Courier  & Express Services</a></li>
                                        <li><a href="#">Accounting & Secretarial Services</a></li>
                                        <li><a href="#">Counseling Services</a></li>
                                </ul>
                            </li>
                            <li class="dropdown ">
                                <a href="" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="false">Pet Care</a>
                                <ul class="dropdown-menu ">
                                        <li><a href="#">Personal Chef Services</a></li>
                                        <li><a href="#">Bridal Services</a></li>
                                        <li><a href="#">Language Translation Services</a></li>
                                        <li><a href="#">Interior Design Services</a></li>
                                        <li><a href="#">Photography & Videography Services</a></li>
                                </ul>
                            </li>
                            <li class="dropdown ">
                                <a href="" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="false">Others</a>
                                <ul class="dropdown-menu ">
                                        <li><a href="#">SPA & Massage</a></li>
                                        <li><a href="#">Pedicure & Manicure Services</a></li>
                                        <li><a href="#">Hair dressing Services</a></li>
                                        <li><a href="#">Beauty & Slimming Services</a></li>
                                        <li><a href="#">Personal Trainer</a></li>
                                </ul>
                            </li>
                        </ul>
                </div>
            </nav>
        </div>
    </div>
</div>
