<div class="container">
<div class="row">
<div class="col-md-3 logo-hide1"  >
<a href="index.php?page=homepage" ><img src="img/logo.PNG" alt="logo" class="img-responsive center-block"  /></a>
</div>
<div class="col-md-7 search-margin-top" >
            <div class="row">
                <div class="col-xs-9">
                    <form action="" method="POST">
                        <div class="row">
                            <div class="input-group">
                                <input type="text" class="form-control" name="txtTK" placeholder="What services are you looking for?" style="height:40px;">
                                <div class="input-group-btn" >
                                    <button class="btn " name="timkiem" type="submit" style="height:40px;background-color:#e8a131;border-color:#e8a131;color:white;">
                                        <span class="glyphicon glyphicon-search" ></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-xs-3">
                    <a href="index.php?page=mycart" style="margin-bottom:50px;margin-left:20px;">
                        <img alt="Ghang" src="img/giohang.PNG">
                    </a>
                </div>

    </div>
</div>
  </div>
</div>
