.stars-container {
              position: relative;
              display: inline-block;
              color: transparent;
                font-size: 25px;
            }

.stars-container:before {
  position: absolute;
  top: 0;
  left: 0;
  content: '★★★★★';
  color: lightgray;
}

.stars-container:after {
  position: absolute;
  top: 0;
  left: 0;
  content: '★★★★★';
  color: #f9a824;
  overflow: hidden;
}

.stars-0:after { width: 0%; }
.stars-20:after { width: 20%; }
.stars-40:after { width: 40%; }
.stars-60:after { width: 60%; }
.stars-80:after { width: 80%; }
.stars-100:after { width: 100%; }


